@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* End Meyer reset */

* {
    box-sizing: border-box;
    background-color: rgb(252, 250, 250);
}

body {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100vh;
    width: 100vw;
    font-family: 'Poppins', sans-serif;
    
}

button, input {
    font-family: inherit;
    font-size: 100%;
}

.header {
    flex: 1;
    height: 100vh;
    background-image: url("szabo-viktor-28ZbKOWiZfs-unsplash.jpg");
    display: flex;
    flex-direction: column;
}

.banner > h1, .header > p, p > a {
    background: transparent;
    text-align: center;
    color: black;
}

.banner {
    background: rgba(0, 0, 0, 0.6);
    position: relative;
    top: 30vh;
    padding: 35px;
}

.banner > h1 {
    font-size: x-large;
    color: white;
    font-family: 'Titan One', cursive;
    letter-spacing: .2em;
}

.header > p {
    font-size: x-small;
    position: relative;
    top: 85vh;
}

.content {
    flex: 2;
}

.cta > p {
    padding: 15px 0px;
}

.cta, .popout, .footer {
    padding: 50px 0px;
}

.cta, .footer, .arow, .brow {
    margin-left: 30px;
}

button {
    padding: 10px 40px;
    font-weight: bold;
    margin: 30px;
    background-color: rgb(66, 219, 212);
    border-radius: 7px;
    border: none;
    box-shadow: 1px 3px 10px -5px black;
}

.popout {
    display: flex;
    flex-direction: row;
    align-items:stretch;
    justify-content: space-evenly;
    box-shadow: 1px 3px 10px -5px black;
}

.popout, .arow, .brow, label, input {
    background-color: white;
}

input, label {
    display: block;
    margin: 10px 0px;
}

.arow, .brow {
    flex: 1;
    height: 100%;
}

input {
    width: 200px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border-radius: 6px;
    border: 1.5px solid rgb(209, 209, 209);
    outline: none;
}

input:focus {
    border: 1.5px solid rgb(31, 197, 242);
    box-shadow: 1px 1px 8px -5px black;
}

input:invalid {
    border: 1.5px solid red;
}

